{% extends 'base.html' %}
{% load thumbnail %}
{% block title%}
  Посты отслеживаемых
{% endblock%}
  {% block content %}
    {% include 'posts/includes/switcher.html' %}
    {% for post in page_obj %}


      {% include 'posts/includes/post_list.html' %}

      {% if post.group %}
        <a href="{% url 'app_posts:groups' post.group.slug %}">все записи группы</a>

      {% endif %}

      {% if not forloop.last %}<hr>{% endif %}

    {% endfor %}

    {% include 'includes/paginator.html' %}
  {% endblock %}