{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Все посты пользователя {{ profile.username }}{% endblock %}
  {% include 'includes/header.html' %}
    <main>
      {% block content %}
      <div class="container py-5">
<div class="mb-5">
  <h1>Все посты пользователя {{ author.get_full_name }}</h1>
  <h3>Всего постов: {{ author.post.count }}</h3>
  {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
</div>
          {% for post in page_obj %}
          <article>
          <ul>
            <li>
              Автор: {{ author.username }}
              <a href="<!-- -->">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          {% thumbnail post.image "760x259" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>
          {{post.text|linebreaks}}
          </p>
          <a href="{% url 'app_posts:post_detail' post.id %}">подробная информация </a>
        </article>
        <p>
          {% if post.group %}
        <a href="{% url 'app_posts:groups' post.group.slug %}">все записи группы</a>
          {% elif post.group is None %}
            Данный пост не принадлежит к группе
          {% endif %}
        </p>
        <hr>
        {% endfor %}
        {% include 'includes/paginator.html' %}
      </div>
      {% endblock %}
    </main>
    {%include 'includes/footer.html'%}
